.blog-logo {
    display: inline-block;
    position: absolute;
    padding-top: 1rem;
    left: 50%;
    transform: translateX(-50%);

        p {
            display: inline-block;
            font-size: 2.5rem;
        }
}

#post-container{
    padding:10%;

    .post-catalog-body {
        .row {
            margin: 0;
        }
    }
}