#message-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20rem;
    flex-wrap: wrap;
    padding: 4rem 2rem;
}

#image-block {
    position: absolute;
    top: 35rem;
    right: 4rem;
    height: 350px;
    background-color: grey;
    z-index: 8;
}

#message-sent {
    position: relative;
    display: block;
    margin: auto;
    height: 2rem;
    width: 97%;
    background: #d7dee1;
    text-align: center;
    color: #020b17;
}

h3~h6 {
    padding-top: 1rem;
}

.form-input {
    padding: 0.5rem !important;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.5625rem;
}

input {
    padding: 0.5rem;
    display: block;
    width: 100%;
    border: solid 1px;
    background-color: inherit;
}

textarea {
    @include rem(height, 200px);
    display: block;
    border: solid 1px;
    width: 100%;
    background-color: inherit;

    @include breakpoint('xxxl') {
        @include rem(height, 300px);
    }
}

form {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

#info-block {
    padding: 20% 10%;
    min-height: 80vh;

    @include breakpoint('s') {
        padding: 10%;
    }

    .image-wrapper {
        position: absolute;
        top: 75vh;
        right: 0;
        width: 100%;

        @include breakpoint('xs') {
            top: 65vh;
            right: 10%;
            width: 40%;
        }

        .image-block {
            width: 100%;
            padding-bottom: 70%;
            background: black;
        }
    } 
}

.info-item {
    padding: 0;
}

.info-item h6 {
    display: inline-block;
}

#contact,
#address {
    margin-bottom: 2rem;
    padding: 0;
}

#contact-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 4rem 0rem;
    flex-wrap: wrap;
}

.box-link[type="submit"] {
    display: block;
    margin: auto;
}

.design {
    position: absolute;
    height: 100%;
    width: 30%;
    left: 0;
    top: 0;
    background-color: #f5f6f6;
}

    