.accordian-holder{
  position: relative;
  width: 100%;
  vertical-align: middle;

  .accordian-title{
    @include rem(padding, 50px 0 );
    @include transform(translateZ(0));
    @include transition(color .2s ease-out,background-color .2s ease-out);
    border-color: rgba(255,255,255,.2);
    border-top: 1px solid #f4f5fa;
    border-bottom: 1px solid transparent;
    color: white;
    cursor: pointer;
    margin: 0;
    position: relative;

      .tab-title{
        display: block;
      }
      .tab-icon{
        @include transform(translateY(-50%));
        @include transform(rotate(45deg));
        @include transition(all .2s ease-out);
        position: absolute;
        top: 50%;
        right: 0;
        width: 20px;
        height: 18px;
        margin: -1px 0 0;
        font-size: 18px;
        line-height: 18px;
        text-align: center;

        &.active{
          @include transform(rotate(0));
        }
    }
  }

  .accordian-content{
    max-height: 0;
    overflow: hidden;

    .accordian-content-inner{
      @include rem(padding-bottom, 100px);
    }
  }

  .accordian-width-block{
    position: relative;
    display: block;
    width: 80%;
    margin: auto;
  }
}