.content {
  .parallax-head-block {
    margin: 0;
    .menu-backdrop{
      background-color: $deep-blue;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(/img/abt-block.jpg);
      min-height: 50vh;
      // width: 100vw;

      // @include breakpoint('s') {
      //   height: 100vh;
      //   width: 50vw;
      // }
    }
    .head-parallax-content {
      @extend .inverse;
      min-height: 50vh;
      // min-height: 50vw;
      // width: 100vw;

      // @include breakpoint('s') {
      //   height: 100vh;
      //   width: 50vw;
      // }
      
    }
  }
}