@charset "UTF-8";
/* CSS Document */

.nav-header{
  @include rem(height, 60px);
  @include transition(all 1s);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
  
  .container-fluid{
      margin: auto;
      height: 100%;
      width: 90%;
    .logo-container{
      @include rem(margin-left, 30px);
      background-color: $deep-blue;
      display: inline-block;

      .logo-wrapper{
        @include rem(height, 45px);
        @include rem(margin, 15px);
        @include rem(width, 180px);
        background-image: url(/img/home/logo-light.png);
        display: inline-block;
        background-size: cover;
      }
    }

    .nav-block{
      @include transition(all 0.5s ease);
      background: $deep-blue;
      color: #fff;
      height: 100vh;
      overflow: scroll;
      padding: 20% 10% 10% 10%;
      position: fixed;
      right: -100vw;
      top: 0px;
      text-transform: uppercase;
      width: 100vw;
      z-index: 10;

      @include breakpoint('s') {
        padding: 10% 5% 5% 5%;
        right: -80vw;
        width: 80vw;
      }

      @include breakpoint('l') {
        right: -40vw;
        width: 40vw;
      }

      &.side-drawer{
        right: 0px;
      }

      ul{
        display: inline-block;
        font-weight: 500;
        height: 100%;
        list-style: none;
        padding: 0;
  
          #main-content, .sub-content{
            @include rem(margin-bottom, 40px);

            li{
              width: 100%;

              p{
                @include rem(font-size, 13px);
                display: inline-block;
              }
        
              &.list-head, a{
                @include transition(all .3s );
                @include rem(padding, 4px 5px);
                color:white;
                display: inline-block;
                position: relative;
                text-decoration: none;
                text-shadow: 2px 2px rgba(0, 0, 0, 0.2);

                &::after{
                  @include transform(translateY(-50%));
                  content: '';
                  display: none;
                  position: absolute;
                  right: 0;
                  top: 50%;
                  width: 1px;
                  height: 26px;
                  border-right: 1px solid white;
                }

                &:hover {
                  color: #6d7c90;
                }
              }
            }
          }
    
          #main-content{
            .list-head {
              h3 {
                font-weight: 700;
                display: inline-block;
              }
            }

            .sub-content {
              @include transition(all ease 0.3s);
              height: 0;
              overflow: hidden;

              &.active {
                @include rem(min-height, 100px);
                overflow: visible;
              }
            }
          }

          .sub-content,.scl-icons {
            @include rem(padding-left, 20px);
          }
        }
    }

    .scl-icons{
      @include rem(margin-bottom, 30px);
      color: white;
      display: inline-block; 
    }
    
    #icon{
      position: relative;
      float: right;
      width: 4%;
      min-width: 35px;
      max-width: 40px;
      height: 40px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
    
      &.active{
        #burger{
          background: rgba(255, 255, 255, 0);
          box-shadow: none;
    
          &::before {
            top: 0;
            transform: rotate(45deg);
          }
          
          &::after {
            top: 0;
            transform: rotate(-45deg);
          }
        }
    
      }
    
      #burger {
        width: 75%;
        height: 2px;
        background: rgba(255, 255, 255, 1);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        transition: 0.5s;
    
        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background: rgba(255, 255, 255, 1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          transition: 0.5s; 
        }
      
        &::before {
          top: -10px;
        }
        
        &::after {
          top: 10px;
        }
      }
    }
  }
}
