.content.no-scroll {
    overflow: hidden;
}

#main {
    position: relative;
    height: 35rem;
    background: #020b17;
}

#feature {
    display: block;
    margin: auto;
    float: none;
    margin-top: 0;
    padding: 0;
    top: 25%;
    height: 32.9rem;
    background: white;
    overflow: hidden;
    

    #feature-img{
        height: 100%;
        width: 100%;
        background-size: cover;
        
    }

    .overlay{
        opacity: 1;
        background-color: rgba(16, 23, 39, 0.5);
        border: solid 0.05rem white;
    }
}



#blog-block h3::after,
#contact-block h3::after {
    margin: auto;
}
.intro-block {
    position: absolute !important;
    height: 20%;
    background: #020b17;
    text-align: left;
    border: solid 1px rgb(255, 255, 255);
    border-right-style: hidden;
    padding: 2rem;
    transition: 0.5s;
}

.intro-block {

    a {
        position: absolute;
        display: block;
        color: white !important;
        font-size: 1.5rem;
        font-weight: 300;
        
       
    }

    a::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 1px;
        left: 0;
        bottom: -0.5rem;
        background-color: rgb(255, 255, 255) !important;
        transition: 0.5s;
    }

    a:hover{
        text-decoration: none;
    }
}

.intro-block:hover{
    max-width: 40%;
}

#projects {
    top: 20%;
    right: -0.05rem;
}

#services {
    bottom: 20%;
    right: -0.05rem;
}






//about section
#about-block{
    margin-top: 10rem;
    margin-bottom: 6rem;
    position: relative;
    position: relative;
}

#about-content {
    height: 100%;
    padding: 0rem 0.5rem 2rem 0.5rem;
    overflow: hidden;
}

#about-image {
    height: 58vw;

    .block-img{
        position: absolute;
        right: 7%;
        top: 4.2rem;
        background-size: cover;
        height: 70%;
        width: 60%;

        .tp-corner {
            position: absolute;
            width: 40%;
            height: 40%;
            border-right: solid 0.1rem #d7dee1;
            border-top: solid 0.1rem #d7dee1;
            top: -0.5rem;
            right: -0.5rem;
        }
        .btm-corner {
            position: absolute;
            width: 25%;
            height: 25%;
            border-left: solid 0.1rem #020b17;
            border-bottom: solid 0.1rem #020b17;
            bottom: -0.5rem;
            left: -0.5rem;
        }
    }
}





#about-image img {
    max-width: 100%;
    height: auto;
    margin: 4rem 1rem;
}

#services-block {
   
    padding: 0;
}

.service-slide-block{
    display: inline-block;
    height: 75vw;
    border-left: solid 1px #7b848c;
    padding: 0 !important;

}



.carousel p{
    max-width: 70%;
}


.slim, .wide{
    background-size:cover; 
}

// change carousel height

#services-carousel .carousel-item {
    height: 100vw;
    img {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100vw;
    }
    
  }
.service-slide-block, #services-carousel .carousel-item{
  .overlay{
    opacity: 1;
    background-color: rgba(16, 16, 27, 0.6);

    h4{
        text-transform: uppercase;
        @extend .pb-4;
    }
    h4,p{
      position: relative;
      color: white;
    }


    .caption{
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translateY(-50%);
        padding: 2rem;
    }
}
}
  


//TIS

#tis-block{
    position: relative;
}
#tis-content {
    min-height: 20rem;
    padding: 6rem 2.5rem 6rem;
    position: relative;
}

#tis-carousel {
    position: absolute;
    right: 0;
    bottom: -10%;
    border: solid 0.5rem #020b17;
    border-right: hidden;

    .carousel-item {
    height: 25vw;
    width: 50vw;
        .sngl-itm{
            height: 25vw;
            background-size: cover;
        }
    }

    
}

@keyframes load {
    from {width:0%;}
    to {width:100%;}
}

#ld-br{
    position: absolute;
    width: 0%;
    height: 0.4rem;
    background-color: #d7dee1;
    z-index: 10;
    animation: load 5000ms infinite;
}



#projects-carousel.carousel{
    position: absolute;;
}

#blog-block {
    padding: 6rem 2.5rem 6rem;
    text-align:center;
}

.featured-blog {
    @extend .col-5, .col-md-2 ;
    height: 14vw;
    background: #020b17;
    margin-bottom: 1rem;
}



//contact block

#contact-block {
    position: relative;
    padding: 2rem 2.5rem 4rem;
    overflow: auto;
    background-color: #020b17;
    z-index: 10;
}

#contact-block .box-link {
    background-color: #020b17;
    border: solid 1px white;
 
    
}

.contact-item {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.contact-item h6 {
    display: inline-block;
    position: relative;
    text-align: center;
}





@media (min-width: 720px) {
    #feature {
        position: absolute;
        margin: 0;
        right: 4%;
    }
    #about-content {
        padding: 4rem 2rem 2rem 2rem;
    }
}

@media (max-width: 768px){
    #services-block{
        display: none;
    }
    .carousel{
        display: block;
    }
    /*.service-slide-block .slim{
        display: none;
    }

    .service-slide-block .wide{
        display: block;
    }*/
    .intro-block a{
        font-size: 1rem;
    }
    
}
@media (min-width: 768px){
    #services-carousel{
        display: none;
    }
    .service-slide-block .slim{
        display: block;
    }

    .service-slide-block .wide{
        display: none;
    }

    .service-slide-block{
        height: 55vw;
    }
    
}

@media (max-width: 768px){
    .featured-blog{
        height: 22vw;
    }

    #about-image{
        height:70vw;
    }

    .intro-block:hover {
        max-width: 55%;
    }
}

@media (min-width: 992px){
    .service-slide-block{
        height: 40vw;
    }


#tis-carousel {

    .carousel-item {
    height: 20vw;
    width: 40vw;
        .sngl-itm{
            height: 20vw;
            background-size: cover;
        }
    }
}
}