* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: white !important;
    nav,
    #app,
    footer {
        font-family: 'Hero', 'Helvetica', 'Arial narrow', sans-serif;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        a {
            font-weight: 100;
        }
        p {
            font-family: 'Montserrat';
            font-weight: 100;
        }
    }
}

html {
    position: absolute;
    min-width: 100%;
}

//alter fonts
h1 {
    font-size: 2.7rem !important;
}

h3::after,
h1::after {
    content: "";
    position: relative;
    display: block;
    top: 1rem;
    width: 10%;
    height: 1px;
    background: rgb(16, 23, 39);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

#blog-block h3::after,
#contact-block h3::after {
    margin: auto;
}

h3~p {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.row {
    padding: 0 !important;
    margin: 0 !important;
}

#app {
    overflow: visible;
    .no-scroll {
        overflow: hidden;
    }
}

.content {
    position: relative;
    overflow: hidden;
}

#app.no-scroll {
    overflow: hidden;
}

.full-overlay {
    opacity: 0;
    display: none;
    z-index: 50;
    background-color: rgba(16, 23, 39, 0.5);
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 80;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.full-overlay.active {
    opacity: 1;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: all .6s ease;
    background-color: rgba(2, 5, 49, 0.2);
}

span.sum {
    position: relative;
    margin: 0 auto;
    font-size: 0.6rem;
    left: 1rem;
}

.box-link {
    background-color: #d7dee1; //width: 10rem;
    height: 2.5rem;
    width: 10rem;
    color: rgb(16, 23, 39);
    border: none;
    a {
        display: block;
        position: relative;
        top: 19%;
        color: inherit;
    }
    a:hover {
        text-decoration: none;
    }
}

.box-link:hover {
    background: #020b17;
    color: white;
}

.wrapper.row {
    justify-content: space-evenly;
    margin: 4rem 0rem 6rem 0rem !important;
}

.inverse {
    background-color: #020b17;
    color: white;
    .box-link {
        background-color: #020b17;
        border: solid 1px #d7dee1;
        a {
            color: white;
        }
    }
    .box-link:hover {
        background: #d7dee1;
        a {
            color: #020b17;
        }
    }
}

.inverse h3::after,
h1::after {
    background-color: white;
}

footer {
    padding: 1rem;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0.7rem;
    background-color: #020b17;
    border-top: solid #d7dee1 2px;
}

footer p {
    margin: 0;
}

a>div {
    position: relative;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
}

img {
    width: 100%;
}