.project-list {
    display: block;
    margin: auto;
    margin-top: 8rem;
    margin-bottom: 8rem;
    padding: 0rem !important;
}

.project-list .row {
    min-height: 28rem;
    margin: auto;
}

.project-block {
    display: block;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    padding: 0.5rem !important;
}

.project-block.large {
    height: 28rem;
}

.project-block.small {
    height: 14rem;
}



a>div:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.project-block .overlay{
    opacity:0;
}
.project-block:hover .overlay {
    opacity: 1;
}

.project-block:hover img {
    transform: scale(1.5);
}

.content header{
    background: #020b17;
    background: 
    linear-gradient(115deg, transparent 75%, #101727 75%) 0 0,
    linear-gradient(245deg, transparent 75%, #101727 75%) 0 0,
    linear-gradient(115deg, transparent 75%, #101727 75%) 7px -15px,
    linear-gradient(245deg, transparent 75%, #101727 75%) 7px -15px,
    #020b17;
    background-size: 15px 30px;
}