@charset "UTF-8";
/* CSS Document */


/*menu toggle button*/

#icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 4%;
  min-width: 35px;
  max-width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0);
  z-index: 100;
}

#burger {
  width: 75%;
  height: 1px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

#burger::before,
#burger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

#burger::before {
  top: -10px;
}

#burger::after {
  top: 10px;
}

#icon.active #burger {
  background: rgba(255, 255, 255, 0);
  box-shadow: none;
}

#icon.active #burger::before {
  top: 0;
  transform: rotate(45deg);
}

#icon.active #burger::after {
  top: 0;
  transform: rotate(-45deg);
}

nav .scl-icons{
  position: absolute;
  color: white;
  left: 2%;
  padding-top: 1.5rem;
  z-index: 10;
  font-size: 1rem;

    i{
      @extend .pr-4;
    }
}
#side-drawer {
  right: -320px;
  position: fixed;
  top: 0px;
  min-height: 100vh;
  width: 320px;
  background: #020b17;
  z-index: 90;
  -webkit-transition: right ease-out;
  transition: all 0.5s ease;

  .container {
    margin-top: 80px;
    padding: 40px;
    overflow: auto;
    position: relative;
    text-transform: uppercase;
  }

  a{
    display: inline-block;
    padding: 8px 10px;
    text-decoration: none;
    color: #fff;
  }

  p{
    @include rem(font-size, 13px);
    display: inline-block;
    color: #fff;
  }
}

#side-drawer{
  &.active {
  right: 0px;}

  #main-content {
    @include rem(font-size, 27px);
    list-style: none;
    margin-bottom: 60px;
    display: block;
    font-weight: 100;
  }

  #sub-content {
    @include rem(font-size, 13px);
    @include rem(padding-left, 8px);
    display: block;
    position: relative;
    font-weight: 300;
  }
  >.container>ul {
    list-style: none;
    margin-top: 20px;
    padding: 0;
  }
}

#full-overlay {
  opacity: 0;
  display: none;
  z-index: 50;
  background-color: rgba(16, 23, 39, 0.5);
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 80;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

#full-overlay.active {
  opacity: 1;
  display: block;
}

@media(max-width:768px){
  nav .scl-icons{
    font-size: 1rem;
    width: 10%;
  }
}

