// Fonts
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');
@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

@font-face {
  font-family: Hero;
  src: url('/fonts/Hero/Herol.otf');
  font-weight: 100,300;
}

@font-face {
  font-family: Moon;
  src: url('/fonts/moon/MoonR.otf');
  font-weight: 300;
}

@font-face {
  font-family: icomoon;
  src: url('/fonts/icomoon/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



// Variables
@import "variables";

// Mixins
@import "third-party/rem";
@import "third-party/breakpoint";
@import "mixins";


@import "elements";
@import "main";
@import "contact";
@import "project";
@import "blog";
@import "index";
@import "sideDrawer";
@import "about";
@import "services";
@import "icomoon";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
// @mixin transform($property) {
//   -webkit-transform: $property;
//   -ms-transform: $property;
//   transform: $property;
// }

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}